* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
  height: 100vh;
  width: 100vw;
}
.modal {
  font-size: large;
  font-weight: 900;
  height: 5rem;
  width: 30rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 5;
  position: absolute;
  top: 20%;
  left: 40%;
  text-align: center;
  padding: 2rem 0;
  border-radius: 16px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.9);
}
.header {
  width: 100vw;
  height: 4rem;
  background-color: #464eb8;
  color: #fff;
  display: flex;
  justify-content: space-around;
  font-size: large;
  font-weight: 900;
  position: sticky;
  top: 0%;
}
.header__main {
  justify-self: flex-start;
  padding: 18px 4px;
  margin: 0 16px;
}
.header__main:active,
.header__main:hover {
  background-color: #7b83eb;
}
.header__options {
  display: flex;
  justify-content: flex-end;
}
.header__option {
  padding: 16px 16px;
  margin: 0 16px;
}
.header__option:active,
.header__option:hover {
  background-color: #7b83eb;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 30%;
  left: calc(50% - 17%);
  width: 500px;
  min-width: 276px;
  height: 50%;
  background-color: #464eb8;
  color: #fff;
}
.icon__container {
  margin: 8px;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
}
.login__icon {
  background: #fff url(./assets/loginIcon.png) no-repeat center/contain;
}
.login__username {
  display: flex;
  padding: 16px 0;
}
.login__password {
  display: flex;
  padding: 16px 0;
}
.button__panel {
  display: flex;
  width: 90%;
  padding: 16px;
  justify-content: space-around;
}
input {
  width: 15rem;
  padding: 8px;
  margin: 0 8px;
  border: 1px solid black;
  outline: none;
}
.button {
  padding: 8px 8px;
  width: 8rem;
  margin: 8px;
  border: 1px solid;
  border-radius: 8px;
  background-color: #505ac9;
  color: #fff;
  outline: none;
}
.button:active,
.button:hover {
  background-color: #7b83eb;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.8);
  color: #fff;
}
.start__icon {
  background: #fff url(./assets/network.png) no-repeat center/contain;
}
.link-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.input__box {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.link__input {
  background-color: #fff;
  height: 3rem;
  width: 20rem;
  padding: 8px;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  margin: 4px;
  outline: none;
}
.link__copy-icon {
  background: url("./assets/copy.png") no-repeat center/contain;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 50%;
}
.link__copy-icon:active,
.link__copy-icon:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.8);
}
.join__icon {
  background: url("./assets/join.png") no-repeat center/contain;
}
.error__icon {
  background: url("./assets/error.png") no-repeat center/contain;
}

.meeting__page {
  display: flex;
  width: 100%;
  height: 100%;
}
.video__chat {
  border: 1px solid black;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.user__video-box {
  background: #fff center/cover;
  height: 20%;
  width: 30%;
  margin: 4px;
  align-self: flex-end;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
}
video {
  object-fit: cover;
  background-repeat: no-repeat;
}
#userVideo {
  width: 100%;
  height: 85%;
}
.peer__video-box {
  height: 70%;
  width: 99%;

  margin: 4px;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
}
#peerVideo {
  width: 100%;
  height: 95%;
}
.video-detail {
  padding: 2px 0;
}

.video__controls {
  display: flex;

  height: 10%;
  justify-content: space-evenly;
  background-color: black;
  border-radius: 8px;
  width: 100%;
}
.video-icon {
  height: 60px;
  width: 60px;
  background-color: #7b83eb;
  border: 1px solid black;
  border-radius: 50%;
  margin: 4px 0;
}
.video__video {
  background: url("./assets/VideoOn.png") no-repeat center/contain;
}
.video__connect {
  background: url("./assets/disconnect.png") no-repeat center/contain;
}
.video__audio {
  background: url("./assets/unmute.png") no-repeat center/contain;
}
.video__info {
  background: url("./assets/info.png") no-repeat center/contain;
}
.chat {
  background-color: #7b83eb;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chat__msgBox {
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.chat__enter-box {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: space-between;
  align-items: center;
}
.chat__input-box {
  width: 80%;
  height: 3rem;
  border: 1px solid black;
  border-radius: 8px;

  padding: 8px;
  outline: none;
}
.chat__send {
  padding: 2px;

  height: 3rem;
  width: 15%;
}

.user__msg {
  background-color: #1a228a;
  width: fit-content;
  text-align: right;
  font-size: large;
  color: #fff;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  align-self: flex-end;
}
.peer__msg {
  font-size: large;
  width: fit-content;
  background-color: #fff;
  text-align: left;
  color: #1a228a;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}

.active {
  background-color: #7b83eb;
}

.chat__channel {
  display: flex;
  width: 100vw;
  height: 90vh;
}
.chat__items {
  width: 30%;
  height: 90%;
  margin: 32px 32px 32px 72px;
  overflow-y: scroll;
  padding: 4px;
  box-shadow: 5px 5px 5px 5px rgba(99, 94, 94, 0.9);
}
.chat__item {
  width: 50%;
  height: 90%;

  margin: 32px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px 5px rgba(99, 94, 94, 0.9);
}
.chat__item-card {
  /* height: 5rem; */
  padding: 4px;
  margin: 4px;
  background-color: #464eb8;
}
.chat__item-card:active,
.chat__item-card:hover {
  background: #7b83eb;
}

.chat__item-card-id {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  padding: 4px 0;
  color: rgb(219, 213, 213);
}
.chat__item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.chat__item-card-dp {
  margin-bottom: 4px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: url("./assets/profile.png") no-repeat center/contain;
}
.chat__item-detail {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.chat__item-card-name {
  font-weight: 900;
  font-size: 20px;
  color: #fff;
  padding: 4px;
}
.chat__item-card-status {
  display: flex;
}
.chat__item-card-msg {
  display: inline;
  padding: 4px;
  font-weight: 600;
  font-size: 16px;
  color: rgb(219, 213, 213);
}
.chat__item-card-newMsg {
  display: inline;
  margin: 8px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #464eb8;
}

.chat__item-header {
  width: 100%;
  height: 3rem;
  background: #464eb8;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}
.chat__header-item {
  margin: 0 16px;
}
.chat__header-item:active,
.chat__header-item:hover {
  color: rgb(161, 206, 245);
}

.chat__item-msg {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  height: calc(100% - 6rem);
  background: #7b83eb;
  overflow-y: scroll;
}
.chat__item-msg--eachmsg {
  background-color: #fff;
  padding: 8px;
  margin: 8px;
  color: #464eb8;
  width: fit-content;
  border-radius: 8px;
}
.chat__item-footer {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}
